*{
    margin: 0;
    padding: 0;
}

#main{
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    background-position: center;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* HEADER START */
.header{
    height: 11%;
    width: 100%;
    background-image: url("../images/background-header.png");
    background-repeat:no-repeat;
    background-size: cover
}

.header .content{
    width: 88%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header .logo{
    width: 32%;
    transform: translateX(131px)
}

.button-cskh {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Để đẩy btn-cskh và btn-hoat-dong về phía bên phải */
}

.button-cskh .btn-hoat-dong  {
  width: 100%;
  transform: translate(45%, -3%);
}

.button-cskh .btn-cskh{
  width: 70%;
  transform: translate(32%, -9%);
}

/* .header .btn-hoat-dong {
  width: 9%;
  transform: translate(64%, 5%);
}

.header .btn-cskh {
  width: 9%;
  transform: translate(-41%, 2%);
} */

/* HEADER END */

/* MAIN START */

.main{
    height: 75%;
    position: relative;
    top: 0px;
    left: 0;
    right: 0;
    display: flex;
    background-image: url("../images/background.png");
}

.nav{
    width:17%;
    min-width: 180px;
    background-image: url("../images/background-nav.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    height: 100%;
}

.nav-content{
    width: 86%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.main .nav .nav-content .item-nav-content{
    position: relative;
    /* height: min-content; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 7px;
}

.main .nav .nav-content .item-nav-content img{
    height: 100%;
    width: 100%;
}

.main .nav .nav-content .item-nav-content .act{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-in-out;
    z-index: -1;
}

.main .nav .nav-content .item-nav-content.active .act{
    opacity: 1;
    transition: 0.3s ease-in-out;
    z-index: 1;
    width: 100%;
}

/* .main .content {
    display: flex;
    flex-direction: column;
} */

.notification {
    display: flex;
    align-items: center;
    margin-top: 18px;
}

.content {
  overflow-x: auto;
}
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
  transform: translate(0%, 15%);
} 

.card-item {
    position: relative;
    flex-basis: calc(20% - 20px); 
    margin-right: 20px; 
}

.card-item img:nth-child(2) {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-51%, 58%);
    width: 57%; 
}


/* MAIN END */

/*  FOOTER */
.footer {
    width: 100%;
    height: 14%;
    display: flex;
    position: relative;
    background-image: url("../images/background.png");
  }
  
  .container-image-left {
    display: flex;
    justify-content: start;
    width: 100%;
    position: relative;
  }  

  .image-left {
    background-image: url("../images/jackpot-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 79%;
    height: 100%;
    background-position: right;
    display: flex;
    align-items: center;
  }

  .container-avatar, .info-user, .don-cuoc {
    margin: 0 10px; /* Để tạo khoảng cách giữa các phần tử */
  }

  /* Đảm bảo các phần tử không bị co lại khi chúng không đủ chiều rộng */
  .container-avatar, .info-user, .don-cuoc {
  flex: 0 0 auto;
  }

  /* Đảm bảo các phần tử sẽ được sắp xếp từ trái sang phải */
  .container-avatar, .info-user, .don-cuoc {
    display: flex;
    flex-direction: row;
  }

  .info-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .info-user-img {
    display: flex;
    align-items: center;
    position: relative;
    left: 56px;
    top: 17px;
  }

  .username-container {
    transform:translateX(61px)
  }
  
  .user-name {
    font-weight: bold; /* Để làm đậm */
    font-size: 35px; /* Để đặt kích thước văn bản */
    margin-bottom: 20px; /* Tạo khoảng cách giữa username và các ảnh */
  }

  
  .container-image {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .don-cuoc img {
    width: 117%;
    position: relative;
    left: -30px;
    top: -22px;/* Điều chỉnh giá trị này để di chuyển ảnh sang trái hoặc phải */
  }
  
  .container-right {
    display: flex;
    justify-content: end;
  }

  .username-container {
    margin-right: 10px; /* Tạo khoảng cách giữa username và ảnh */
  }

  
  .image-left div {
    width: 70%;
  }
  
  .image-right img {
    width: 22%;
    height: 105%;
    display: block;
    margin: -22px 0;
  }
  
  .avatar {
    width: 51%;
  }
  
  .container-avatar {
    display: flex;
    align-items: center;
    gap: 9px;
    position: absolute;
    top: 50%;
    transform: translateY(-47%);
    padding-left: 5px;
  }
  
  .image-right {
    display: flex;
    justify-content: space-evenly;
    background-image: url("../images/jackpot-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    right: 0;
    width: 79%;
    height: 100%;
  }
  
  .image-center {
    height: 100%;
    width: 390px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .image-center img {
    width: 100%; /* Kích thước ảnh theo chiều rộng */
    height: 100%;
    /* max-height: 100%; */
    background-repeat: no-repeat;
    background-size: cover;
  }
  
.user-name {
    color: peachpuff;
    /* position: absolute;
    transform: translateX(-50%); */
}
  
  /* Định dạng ảnh ở giữa */
  .image-center .image {
    width: 100%; /* Kích thước ảnh theo chiều rộng */
    height: auto;
    max-height: 100%;
    object-fit: cover; /* Hiển thị ảnh với kích thước tỷ lệ bất kể kích thước của phần tử cha */
  }
  
  /* FOOTER END */
  