* {
    margin: 0;
    padding: 0;
}

#main {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    background-position: center;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

/* HEADER START */
.header {
    height: 11%;
    width: 100%;
    background-image: url("../images/background-header.png");
    background-repeat: no-repeat;
    background-size: cover
}

.header .content {
    width: 88%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header .logo {
    width: 32%;
    transform: translateX(131px)
}

.button-cskh {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Để đẩy btn-cskh và btn-hoat-dong về phía bên phải */
}

.button-cskh .btn-hoat-dong {
    width: 100%;
    margin-top: 19px;
}

.button-cskh .btn-cskh {
    width: 70%;
}

/* .header .btn-hoat-dong {
  width: 9%;
  transform: translate(64%, 5%);
}

.header .btn-cskh {
  width: 9%;
  transform: translate(-41%, 2%);
} */

/* HEADER END */

/* MAIN START */

.main {
    height: 75%;
    position: relative;
    top: 0px;
    left: 0;
    right: 0;
    display: flex;
    background-image: url("../images/background.png");
}

.nav {
    width: 20vw;
    min-width: 20vw;
    background-image: url("../images/background-nav.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    height: 100%;
}

.nav-content {
    width: 86%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.main .nav .nav-content .item-nav-content {
    position: relative;
    /* height: min-content; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 7px;
}

.main .nav .nav-content .item-nav-content img {
    height: 100%;
    width: 100%;
}

.main .nav .nav-content .item-nav-content .act {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-in-out;
    z-index: -1;
}

.main .nav .nav-content .item-nav-content.active .act {
    opacity: 1;
    transition: 0.3s ease-in-out;
    z-index: 1;
    width: 100%;
}

/* .main .content {
    display: flex;
    flex-direction: column;
} */

.notification {
    display: flex;
    align-items: center;
    margin-top: 18px;
}

.content {
    overflow-x: hidden;
}

.card {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 5vh;
    position: relative;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 10ms;
}

.card img {
    height: 50vh;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    pointer-events: none;
}

.card a{
    pointer-events: none;
}

/* MAIN END */

/*  FOOTER */
.footer {
    width: 100%;
    height: 14%;
    display: flex;
    position: relative;
    background-image: url("../images/background.png");
}

.container-image-left {
    display: flex;
    justify-content: start;
    width: 100%;
    position: relative;
}

.image-left {
    background-image: url("../images/jackpot-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 79%;
    height: 100%;
    background-position: right;
    display: flex;
    align-items: center;

}

@media screen and (max-width: 1200px) {
    .image-left {
        transform: scale(0.45);
        width: 129%!important;
    }

    .image-center {
        width: unset!important;
    }
    .image-center img {
        transform: scale(0.6);
        transform-origin: bottom right;
    }

    .notification marquee {
        font-size: 14px!important;
    }

    .content {
        overflow-x: hidden;
    }
    .card {
        margin-top: 3vh;
        overflow-x: hidden;
    }
    .button-cskh {
        transform: scale(0.45);
        transform-origin: top right;
    }
}

.container-avatar, .info-user, .don-cuoc {
    margin: 0 10px; /* Để tạo khoảng cách giữa các phần tử */
}

/* Đảm bảo các phần tử không bị co lại khi chúng không đủ chiều rộng */
.container-avatar, .info-user, .don-cuoc {
    flex: 0 0 auto;
}

/* Đảm bảo các phần tử sẽ được sắp xếp từ trái sang phải */
.container-avatar, .info-user, .don-cuoc {
    display: flex;
    flex-direction: row;
}

.info-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.info-user-img {
    display: flex;
    align-items: center;
    position: relative;
    left: 56px;
    top: 17px;
}

.username-container {
    transform: translateX(61px)
}

.user-name {
    font-weight: bold; /* Để làm đậm */
    font-size: 35px; /* Để đặt kích thước văn bản */
    margin-bottom: 20px; /* Tạo khoảng cách giữa username và các ảnh */
}


.container-image {
    width: 100%;
    height: 100%;
    position: relative;
}

.don-cuoc img {
    width: 117%;
    position: relative;
    left: -30px;
    top: -22px; /* Điều chỉnh giá trị này để di chuyển ảnh sang trái hoặc phải */
}

.container-right {
    display: flex;
    justify-content: end;
}

.username-container {
    margin-right: 10px; /* Tạo khoảng cách giữa username và ảnh */
}


.image-left div {
    width: 70%;
}

.image-right img {
    width: 22%;
    height: 105%;
    display: block;
    margin: -22px 0;
}

.avatar {
    width: 51%;
}

.container-avatar {
    display: flex;
    align-items: center;
    gap: 9px;
    position: absolute;
    top: 50%;
    transform: translateY(-47%);
    padding-left: 5px;
}

.image-right {
    display: flex;
    justify-content: space-evenly;
    background-image: url("../images/jackpot-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    right: 0;
    width: 79%;
    height: 100%;
}

.image-center {
    height: 100%;
    width: 390px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.image-center img {
    width: 100%; /* Kích thước ảnh theo chiều rộng */
    height: 100%;
    /* max-height: 100%; */
    background-repeat: no-repeat;
    background-size: cover;
}

.user-name {
    color: peachpuff;
    /* position: absolute;
    transform: translateX(-50%); */
}

/* Định dạng ảnh ở giữa */
.image-center .image {
    width: 100%; /* Kích thước ảnh theo chiều rộng */
    height: auto;
    max-height: 100%;
    object-fit: cover; /* Hiển thị ảnh với kích thước tỷ lệ bất kể kích thước của phần tử cha */
}

/* FOOTER END */


.notification marquee {
    position: absolute;
    left: 100px;
    color: white;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    top: 25%;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    object-fit: fill;
}


@font-face {
    font-family: 'Averta';
    src: url(../fonts/AvertaStdCY-Thin.otf) format('opentype');
    font-weight: 100;
}

@font-face {
    font-family: 'Averta';
    src: url(../fonts/AvertaStdCY-Light.otf) format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'Averta';
    src: url(../fonts/AvertaStdCY-Regular.otf) format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'Averta';
    src: url(../fonts/AvertaStdCY-Bold.otf) format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'Averta';
    src: url(../fonts/AvertaStdCY-Semibold.otf) format('opentype');
    font-weight: 600;
}

* {
    font-family: "Averta";
    font-weight: normal;
}

.login-container {
    top: 5428px;
    left: -9108px;
    border-radius: 50px;
    width: 960px;
    height: 534px;
    background-color: #E6E8EC;
    margin: 0 auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.title-login {
    background-image: url("../images/background-login.jpg");
    text-align: center;
    width: 960px;
    height: 160px;
}

h2 {
    width: 100%;
    text-align: center;
    position: relative;
    top: 26px;
    font-size: 36px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
    color:#FCFCFD;
}

a {
    margin-top: 36px;
    cursor: pointer;
    outline: none;
}

.login-button .register-button .link {
    margin-top: 36px;
    cursor: pointer;
    outline: none;
}

/* Hover state styles */
.login-button:hover button {
    background-color: #1A3E9C;
}

.register-button:hover button {
    background-color: #1A3E9C;
    color: white;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.login-button button {
    background-color: #1D57EC;
    width: 800px;
    height: 82px;
    top: 198px;
    left: 80px;
    padding: 24px, 0px, 24px, 0px;
    border-radius: 48px;
    border: 0px;
    color: white;
}

.register-button button {
    background-color: white;
    width: 800px;
    height: 82px;
    top: 328px;
    left: 80px;
    padding: 24px, 0px, 24px, 0px;
    border-radius: 48px;
    border: 1px;
    color: black;
}

.link {
    width: 101px;
    height: 34px;
    top: 437px;
    left: 426px;
    color: #1D57EC;
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
}

.register-button button {
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
    color: #0F1A2A;
    text-decoration: none;
}

.login-button button{
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
    color: #FCFCFD;
    text-decoration: none;
}

/* .button-container button a {
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
} */

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal .bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(128, 128, 128, 0.308);
    z-index: 1;
}


.modal .login-container {
    z-index: 2;
}